@model StreamingApp.Web.ViewModels.DetailsSerieViewModel

@{
	ViewData["Title"] = @Model.Serie.Name;
}


<div class="container mt-5">
	<!-- Header con imagen de fondo -->
	<div class="serie-header position-relative mb-5">
		<img src="@Model.Serie.CoverImage" class="w-100" alt="@Model.Serie.Name">
		<div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>
		<div class="serie-info position-absolute bottom-0 start-0 p-4 text-white">
			<h1>@Model.Serie.Name</h1>
			<p>@Model.Producer.Name</p>
			<p>
				@Model.PrimaryGenre.Name
				@if (Model.SecondaryGenre != null)
				{
					<span>, @Model.SecondaryGenre.Name</span>
				}
			</p>

		</div>
	</div>


	@* <iframe width="560" height="315" src="@Model.FullVideoUrl" frameborder="0" allowfullscreen></iframe> *@
	<iframe width="560" height="315" src="@Model.FullVideoUrl" frameborder="0" allowfullscreen></iframe>


	@* <iframe width="560" height="315" src="@Model.FullVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> *@
	<!-- Tabs -->
	<ul class="nav nav-tabs" id="serieTabs" role="tablist">
		<li class="nav-item">
			<button class="nav-link active" id="episodes-tab" data-bs-toggle="tab" data-bs-target="#episodes" type="button" role="tab">Episodios</button>
		</li>
		<li class="nav-item">
			<button class="nav-link" id="related-tab" data-bs-toggle="tab" data-bs-target="#related" type="button" role="tab">Relacionados</button>
		</li>
		<li class="nav-item">
			<button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab">Reseñas</button>
		</li>
	</ul>
	<div class="tab-content" id="serieTabsContent">
		<div class="tab-pane fade show active" id="episodes" role="tabpanel">
			<p class="text-white mt-4">Lista de episodios (contenido de ejemplo).</p>
		</div>
		<div class="tab-pane fade" id="related" role="tabpanel">
			<p class="text-white mt-4">Series relacionadas (contenido de ejemplo).</p>
		</div>
		<div class="tab-pane fade" id="reviews" role="tabpanel">
			<p class="text-white mt-4">Reseñas de usuarios (contenido de ejemplo).</p>
		</div>
	</div>
</div>

<style>
	.serie-header {
		height: 50vh;
		overflow: hidden;
	}

		.serie-header .overlay {
			background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
		}

	.serie-info {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
	}

</style>
