@model StreamingApp.Web.ViewModels.FilterViewModel


@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="filter-section">
                <h5>Filter</h5>
                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <div class="mb-3">
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control mb-2", placeholder = "Search..." })
                        @Html.DropDownListFor(m => m.SelectedProducerId, Model.Producers, "Select a Producer", new { @class = "form-select mb-2" })
                        @Html.DropDownListFor(m => m.SelectedGenreId, Model.Genres, "Select a Genre", new { @class = "form-select mb-2" })
                    </div>
                    <button type="submit" class="btn filter-btn w-100">Apply Filters</button>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach(var series in Model.Series)
                {
                    <div class="col-md-4 mb-4">
                        <div class="anime-card">
                            <img src="@series.CoverImage" alt="@series.Name">
                            <div class="p-3">
                                <h5>@series.Name</h5>
                                <p>@series.Genre | @series.Producer</p>
                            </div>
                            <a href="@Url.Action("Details", "Home", new { id = series.Id })" class="btn btn-success anime-hover-btn">Ver más</a>
                            
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .anime-card {
        position: relative;
    }

    /* Ocultar el botón por defecto */
    .anime-hover-btn {
        display: none;
        position: absolute;
        bottom: 110px;
        right: 10px;
        opacity: 0;
        transition: opacity 0.5s ease;
    }

    /* Mostrar el boton al hacer hover sobre la tarjeta */
    .anime-card:hover .anime-hover-btn {
        display: block;
        opacity: 1;
    }
</style>


